*{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #394461 ;
}
.userinput, .userbuttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns:2fr 1fr ;
    background-color: #1b2236;
    padding: 5px;
    border-radius: 10px;
}
input{
    background-color: #eae3d8;
    font-size: 17px;
    font-weight: bold;
    border-radius:10px ;
    width: 90%;
}
button{
    background-color:orange ;
    color: beige;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    width: 90%;
    margin: 2px;
}
h3{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 25px;
    border-radius: 10px ;
    text-align: right;
    padding: 5px;
}
.calc{
    width: 450px;
    margin: auto;
}